html {
    font-size: 8px;
}

body {
    font-family: Roboto, Arial, SansSerif;
    margin: 0 auto;
    width: 83vw;
    font-family: Roboto;
    color: dimgray;
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #FF5B00;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: 3rem;

}

table {
    font-size: 2rem;
    border-collapse: unset;
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

p {
    font-size: 2rem;
    width: 100%;
}

tr {
    height: 6rem;
}

td {
    padding: 3rem;
    border-bottom: lightgray solid 1px
}

.accepted {
    padding: 1rem 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    margin: 2rem;
    background-color: #03ec9c;


}

.button {
    background-color: #FF5B00;
    border: none;
    font-size: medium;
    font-weight: normal;
    color: white;
    border-radius: 1rem;
    margin: 2rem 2rem;
    padding: 1rem 2rem;
    text-align: center;
    border: #FF5B00 solid 2px;
}

.small {
    padding: 1rem 2rem;
    border: #FF5B0 0 solid 2px;
    background-color: transparent;
    color: #FF5B00;
}

.small:hover {
    color: white;
    background-color: #FF5B00;
    border: black solid 2px;

}

.button:hover {
    color: white;
    background-color: #000000;
    border-radius: 1rem;
    border: black solid 0.25rem;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 2rem 4rem rgba(65, 100, 125, 0.2);
}

.light_gray_box {

    background-color: #f1f5fa;
    border-radius: 1rem;
    /*box-shadow: 0px 8px 16px rgba(65, 100, 125, 0.2);*/
    padding: 2rem 4rem 3rem 4rem;
    margin-bottom: 4rem;
    width: 60%;
}

.answers {
    margin-left: 8rem;
}

.answers_comments {
    background-color: #f1f5fa;
    border-radius: 1rem;
    margin-left: 16rem;
    margin-bottom: 4rem;
    padding: 2rem 4rem 3rem 4rem;
    margin-bottom: 4rem;
    width: 60%;
}

#tag_list {
    display: flex;
    justify-content: flex-end;
    line-height: 5rem;
}

.tag {
    width: 9rem;
    background-color: transparent;
    font-size: medium;
    font-weight: normal;
    color: gray;
    border-radius: 1rem;
    margin: 2rem 1rem;
    padding: 1rem 2rem;
    text-align: center;
    border: gray solid 1px;
}

.button_area {
    display: flex;
    justify-content: flex-end;

}

.logo {
    font-size: 8rem;
    font-weight: bold;
    color: #FF5B00;
    margin-top: 3rem;
}

textarea {
    font-family: Roboto;
    border-radius: 1rem;
    font-size: medium;
    border: white;
    padding: 2rem;
    background-color: #ecf0f0;
    margin-bottom: 3rem;
}

input {
    font-family: Roboto;
    border-radius: 1rem;
    font-size: medium;
    border: white;
    padding: 1rem 2rem;
    background-color: #ecf0f0;
    margin-bottom: 3rem;
}

select {
    border-radius: 1rem;
    font-size: medium;
    border: white;
    padding: 1rem 2rem;
    background-color: #ecf0f0;
    margin-bottom: 3rem;
}

textarea: focus {
    box-shadow: 0px 2rem 4rem rgba(65, 100, 125, 0.2);
    outline: none;
    outline-offset: none;
}

.search_box {
    display: flex;
    justify-content: flex-end;
}

header {
    display: inline-flex;
    justify-content: space-between;
}

label {
    font-size: medium;
    color: dimgray;
    line-height: 7rem;
}
