<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<h2>{{ question[-3] }}</h2>
<p>{{ question[-2] }}</p>
<form>
    <button formaction='{{ url_for('add_answer', question_id=question_id) }}'>Add an answer</button>
</form>
<form>
    <button formaction='{{ url_for('edit', question_id=question_id) }}'>Edit question</button>
</form>

<h2>Answers:</h2>

 {% for row in answer %}
            {% for cell in row %}
              {% if row.index(cell) == 1 %}
                <p>{{ cell }}</p>
              {% endif %}
            {% endfor %}
        {% endfor %}

</body>
</html>