<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tags</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
    </head>
<body>
<a href="/"><div class="logo">ೱ Ask Mate</div></a><br>

<h1>Choose a tag</h1>
    <form action={{ url_for('add_tag', question_id=question_id)}} method='post'>
        <select name="tag">
        <option value="" selected disabled hidden>Choose here</option>
            {% for tag in tags %}
                <option value="{{tag.id}}">{{tag.name}}</option>
            {% endfor %}
        </select>
    <button class="button" type="submit">Add</button>
    </form>
    <form action={{ url_for('add_tag', question_id=question_id)}} method='post'>
        <h3>or add a new one:</h3>
        <input name="new_tag" placeholder="Enter new tag here"></input>
        <button class="button" type="submit">Add</button>
    </form>
</body>
</html>